{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block header %}<h1>Meet the Team</h1>{% endblock %}

{% block content %}
    <div class="description">

        <div class="member">
            <h2>Lukas Elsrode</h2>
            <p><b>Back-End Developer: Data Cleaning</b></p>
        </div>
        <div class="member">
            <h2>Harrison Jia</h2>
            <p><b>Back-End Developer: Data Scraping</b></p>
        </div>
        <div class="member">
            <h2>Tiffany Cui</h2>
            <p><b>Back-End Developer: Data Imaging</b></p>
        </div>
        <div class="member">
            <h2>Fiona Lu</h2>
            <p><b>Front-End Developer</b></p>
            <p><b>Back-End Developer: Data Cleaning</b></p>
        </div>
    </div>
{% endblock %}

